<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>МАД/МУД(MUD) Былины - бесплатная текстовая игра онлайн по русским сказкам</title>
    <meta name="description" content="МАД/МУД(MUD) Былины - бесплатная онлайновая текстовая игра по русским сказкам">
    <meta name="keywords" content="mud, мад, муд, мпм, былины, онлайн, текстовая игра, бесплатная, русские сказки, славяне, язычество">
</head>
