<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32.png">
    <link type="image/png" sizes="120x120" rel="icon" href="/favicon-120.png">
    <title>{{ if .Page.Title }}{{ .Page.Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="МАД/МУД(MUD) Былины - бесплатная онлайновая текстовая игра по русским сказкам">
    <meta name="keywords" content="mud, мад, муд, мпм, былины, онлайн, текстовая игра, бесплатная, русские сказки, славяне, язычество">
</head>
