<header>
    <div class="l_corner"></div>

    <div>
        <div style="display: flex">
            <div class="links">
                <a href="/about">
                    <img src="/img/b_about.gif" width="69" height="31" alt="О нас">
                </a>
                <a href="/advice">
                    <img src="/img/b_advice.gif" width="69" height="20" alt="Советы">
                </a>
                <a href="/newbie">
                    <img src="/img/b_newbee.gif" width="69" height="20" alt="Новичку">
                </a>
                <a href="/all">
                    <img src="/img/b_all.gif" width="69" height="20" alt="Обо всем">
                </a>
                <a href="/clans">
                    <img src="/img/b_clan.gif" width="69" height="20" alt="Дружины">
                </a>
                <div class="b_lnone"></div>
            </div>
            <div class="lbird"></div>
            <div>
                <div class="bg_top"></div>
                <a href="/">
                    <img src="/img/logo.gif" width="288px" height="46px" alt="Главная"/>
                </a>
            </div>
            <div class="rbird"></div>
            <div class="links">
                <a href="/gallery">
                    <img src="/img/b_gallery.gif" width="69" height="31" alt="Галерея">
                </a>
                <a href="/files">
                    <img src="/img/b_files.gif" width="69" height="20" alt="Файлы">
                </a>
                <a href="http://www.bylins.su/vbb/">
                    <img src="/img/b_forum.gif" width="69" height="20" alt="Форум">
                </a>
                <a href="/builder">
                    <img src="/img/b_builder.gif" width="69" height="20" alt="Билдеру">
                </a>
                <a href="/links">
                    <img src="/img/b_links.gif" width="69" height="20" alt="Ссылки">
                </a>
                <div class="b_rnone"></div>
            </div>
        </div>
        <div class="welcome_bg">
            Добро пожаловать в мир русских сказок и легенд.
        </div>
    </div>

    <div class="r_corner"></div>
</header>

<nav class="alt-header text-center">
    <a href="/">Главная</a> |
    <a href="/about">О нас</a> |
    <a href="/advice">Советы</a> |
    <a href="/newbie">Новичку</a> |
    <a href="/all">Обо всем</a> |
    <a href="/clans">Дружины</a> |
    <a href="/gallery">Галерея</a> |
    <a href="/files">Файлы</a> |
    <a href="http://www.bylins.su/vbb/">Форум</a> |
    <a href="/builder">Билдеру</a> |
    <a href="/links">Ссылки</a>
</nav>